* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0f0 !important;
}

.header-middle {
    padding: 15px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: white;
}

.page-header-2 {
    padding-left: 50px;
}

.container-header{
    background-color: #F72210;
    width: auto;
}

.fa-user {
    color: #ffffff8c;
    padding-left: 3px;
    font-size: 16px;
}

.brand {
    width: 130px;
}

.menu-icon {
    width: 18px;
    margin-left: 10px;
    fill: #ffffff8c;
}

.btn-top {
    background-color: #FFE400;
    padding: 0px 13px;
    margin-left: 10px;
    font: bold 13px/24px "Roboto Condensed", sans-serif;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.card {
    border: none !important;
}

.card-body {
    padding: 1.25rem 0 0 0;
}


.top-story {
    border-top: 1px solid #c0c0c0;
    padding-top: 15px;
    margin-top: -15px;
}

.main {
    padding-top: 30px;
    margin: 0 auto;
}

.img-div {
    width: 130px;
}

.middle-col {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 10px;
}

.article {
    padding: 0 0 0 10px;
}

.no-row {
    flex-wrap: nowrap;
}

.left-col {
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    Color: rgba(3, 3, 3, 0.4);
}

h3 {
    font: "Roboto Condensed", sans-serif;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

h4 {
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 10px;
    position: relative;
    color: black;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

h5 {
    font-weight: 700;
}

h6 {
    font-weight: 700 !important;
}

.h6 {
    padding: 7px 0;
    border-top: 1px solid rgb(224, 224, 224);
}

.left {
    margin-top: 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.identity {
    bottom: 0;
    left: 0;
    color: #F72210;
    background-color: rgba(255, 255, 255, 0.911);
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    padding: 6px 12px;
}